<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--<add name="GiisConnectionString" connectionString="Server=142.222.45.59;User Id=giis;Password=giis;DataBase=giisperf;CommandTimeout=300;Timeout=100;maxpoolsize=1000;PreloadReader=True;" providerName="System.Data.SqlClient"/>-->
    <add name="GiisConnectionString" connectionString="Host=localhost;User Id=postgres;Password=kingkive*;DataBase=tiis;CommandTimeout=300;Timeout=100;maxpoolsize=1000;PreloadReader=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>