<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <trace autoflush="true"/>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint name="shrRepository" address="http://url:8080/openmrs/ms/xdsrepository" contract="Repository.DocumentRepository_PortType" binding="wsHttpBinding" bindingConfiguration="ihe_Binding_mtom" behaviorConfiguration="ihe_Behavior"/>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="ihe_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="ihe_Binding_mtom" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600" messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ihe_Behavior">
          <!--<clientCredentials>
            <clientCertificate storeLocation="CurrentUser" storeName="My" findValue="0f50ffe9c2f66f70546d4628a7fce896e1a8bc4a" x509FindType="FindByThumbprint"/>
          </clientCredentials>-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <add key="DHIS_URL" value="https://DHIS2-HOST/demo/api/" />
    <add key="DHIS_UN" value="admin" />
    <add key="DHIS_PWD" value="pwd" />
    <add key="GS1_FTP" value="ftp://AS4-HOST/" />
    <add key="GS1_FTP_UN" value="cr" />
    <add key="GS1_FTP_PWD" value="pwd" />
    <!-- GLN RECEIVER -->
    <add key="GS1_RECEIVER" value="2029348" />
    <add key="crEndpoint" value="llp://CR-HOST:2100" />
    <add key="arrEndpoint" value="udp://ATNA-HOST:2861" />
    <!--<add key="myCertificateHash" value="CurrentUser,My,hashhere" />
    <add key="remoteCertificateHash" value="CurrentUser,Root,hashhere" />-->
    <add key="giis_device_id_oid" value="1.3.6.1.4.1.33349.3.1.2.2.0.394" />
    <!-- The OID of the GIIS child records -->
    <add key="ecid" value="1.3.6.1.4.1.33349.3.1.5.102.3.1.0" />
    <!--<add key="ecid" value="1.3.6.1.4.1.33349.3.1.2.2.0.0"/>-->
    <!-- Barcode OIDs -->
    <add key="giis_child_barcode_oid" value="1.3.6.1.4.1.33349.3.1.5.102.4.1" />
    <!-- The OID of the GIIS child records -->
    <add key="giis_child_id_oid" value="1.3.6.1.4.1.33349.3.1.5.102.3.5.1" />
    <!-- The OID of the GIIS user records -->
    <add key="giis_user_id_oid" value="1.3.6.1.4.1.33349.3.1.5.102.3.5.2" />
    <!-- The OID of the GIIS document records -->
    <add key="giis_document_id_oid" value="1.3.6.1.4.1.33349.3.1.5.102.3.5.3" />
    <!-- The OID of the GIIS vaccination event records -->
    <add key="giis_vaccination_id_oid" value="1.3.6.1.4.1.33349.3.1.5.102.3.5.4" />
    <!-- The OID of the GIIS place records -->
    <add key="giis_facility_id_oid" value="1.3.6.1.4.1.33349.3.1.5.102.3.5.5" />
    <!-- Item definition id -->
    <add key="giis_item_id_oid" value="1.3.6.1.4.1.33349.3.1.5.102.3.5.6" />
    <add key="giis_weight_id_oid" value="1.3.6.1.4.1.33349.3.1.5.102.3.5.7" />
    <add key="giis_appointment_id_oid" value="1.3.6.1.4.1.33349.3.1.5.102.3.5.8" />
    <!-- OID of identifier in column "ID1" -->
    <add key="giis_child_alt_id_1_oid" value="1.3.6.1.4.1.33349.3.1.5.102.4.2" />
    <!-- OID of identifier in column "ID2" -->
    <add key="giis_child_alt_id_2_oid" value="" />
    <!-- OID of identifier in column "ID3" -->
    <add key="giis_child_alt_id_3_oid" value="" />
    <!-- User ID to appear on "modifiedBy" record -->
    <add key="giis_authority_user_id" value="1" />
    <!-- User ID to appear on "modifiedBy" record -->
    <add key="giis_unknown_facility" value="117" />
    <!-- Local Cert Hash-->
    <!--<add key="myCertHash" value=""/>-->
    <!-- Server cert hash -->
    <!--<add key="remoteCertificateHash" value=""/>-->
  </appSettings>
  <connectionStrings>
    <add name="GiisConnectionString" connectionString="server=localhost;user id=postgres;password=postgres;database=aws;CommandTimeout=300;Timeout=100;maxpoolsize=1000;PreloadReader=True;" providerName="Npgsql" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="PostgreSQL Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.2.5.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
      <!-- other provider entries elided -->
    </DbProviderFactories>
  </system.data>
  <system.diagnostics></system.diagnostics>
</configuration>