<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="GIIS_URL" value="https://ivd.moh.go.tz/SVCv2"/>-->
    <!--    TODO uncomment this staging url and replace with the live servers url above-->
    <add key="GIIS_URL" value="https://54.187.21.117/SVCv2"/>
  </appSettings>
  <system.diagnostics>
    <sharedListeners>
      <add name="file_log"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="scanner.log" />
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="file_log" />
      </listeners>
    </trace>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
