<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://142.222.45.59:80/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://142.222.45.59:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>GIIS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>GIIS\GIISUser</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GiisConnectionString" Order="1" Enabled="False">
          <Destination Path="Host=localhost;User Id=giis;Password=giis;DataBase=giisperf;CommandTimeout=300;Timeout=100;maxpoolsize=1000;PreloadReader=True;" />
          <Object Type="DbDacFx">
            <PreSource Path="Host=localhost;User Id=postgres;Password=postgres;DataBase=giis2;CommandTimeout=300;Timeout=100;maxpoolsize=1000;PreloadReader=True;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GiisConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Host=localhost;User Id=postgres;Password=postgres;DataBase=giis2;CommandTimeout=300;Timeout=100;maxpoolsize=1000;PreloadReader=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GiisConnectionString-Web.config Connection String">
      <ParameterValue>Host=localhost;User Id=giis;Password=giis;DataBase=giisperf;CommandTimeout=300;Timeout=100;maxpoolsize=1000;PreloadReader=True;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>