<?xml version="1.0" encoding="utf-8"?>

<!--
Sample license text.
-->
<configuration>
  <connectionStrings>
    <!--<add name="GiisConnectionString" connectionString="Server=142.222.45.59;User Id=giis;Password=giis;DataBase=giisperf;CommandTimeout=300;Timeout=100;maxpoolsize=1000;PreloadReader=True;" providerName="System.Data.SqlClient"/>-->
    <add name="GiisConnectionString" connectionString="Host=localhost;User Id=postgres;Password=Mohawk1;DataBase=aws;CommandTimeout=300;Timeout=100;maxpoolsize=1000;PreloadReader=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>