/*==================TEXT BOX INPUT GLOW==================*/
input{
font-size:12px;
font-family: Arial;
}

input{
outline:none;
max-width:100%;
transition: all 0.25s ease-in-out;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border:1px solid #6678b1;
color:black;
background-color:#fff;
padding: 3px;    

}
 

 
body {
    background-color: #FFF;
    color: black;
    font-family: Arial;
    width: 960px;
	margin: 0 auto;
}

/*==================BUTTON==================*/

.button {
display:block;
height:auto;
margin-left: auto;
margin-right: auto;
padding: 5px 10px;
background: #6678b1 url(../img/button.png) repeat-x bottom;
border: none;
color: white;
cursor: pointer;
font-family: Arial, Helvetica, Sans-Serif;
font-weight: bold;
font-size: 13px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
text-shadow: 1px 1px #666;
text-decoration:none;
text-indent:auto;

}

.button:hover {
background-position: 0 -48px;
}

.button:active {
background-position: 0 top;
position: relative;
top: 1px;
padding: 6px 10px 4px;

}

/*==================BUTTON CLASS==================*/

.print{
background:url(../img/print_button.png) no-repeat ;
text-indent:20px;
display:block;
}

.excel{
background:url(../img/excel_button.gif) no-repeat ;
text-indent:20px;
display:block;
}

.find{
background:url(../img/find_button.png) no-repeat ;
text-indent:20px;
display:block;
}

/*==================TEXT BOX LOG-IN==================*/

.textbox_login
{
margin-left:5px;
color: #333 !important;
min-width: 165px !important;
max-width:100%;
font-size:12px;
outline:none;
transition: all 0.25s ease-in-out;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border:solid 1px #6678b1;
color:#333 !important;
background-color:#fff;	
}

.textbox_login:hover
{
border: solid 1px #6678b1;
box-shadow: 0 0 15px #6678b1;
}
/*==================TEXT BOX SMALL==================*/

.textbox_small
{
margin-left:5px;
color: #333 !important;
min-width: 100px !important;
max-width:100%;
font-size:12px;
outline:none;
transition: all 0.25s ease-in-out;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border:solid 1px #6678b1;
color:#333 !important;
background-color:#fff;	
}

.textbox_small:hover
{
border: solid 1px #6678b1;
box-shadow: 0 0 15px #6678b1;
}
/*==================TEXT BOX NORMAL==================*/

.textbox
{
color: #333 !important;
min-width: 200px !important;
font-size:12px;
outline:none;
transition: all 0.25s ease-in-out;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border:solid 1px #6678b1;
color:#333 !important;
background-color:#fff;	
}

.textbox:hover
{
border: solid 1px #6678b1;
box-shadow: 0 0 15px #6678b1;
}

/*==================COMBO BOX==================*/

.combobox
{
min-width:208px !important;
font-size:12px;
outline:none;
transition: all 0.25s ease-in-out;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border:solid 1px #6678b1;
color:#333 !important;
background-color:#fff;
padding: 2px;	
}

.combobox:hover
{
border: solid 1px #6678b1;
box-shadow: 0 0 15px #6678b1;
}

/*==================COMBOBOX BOX AGE ==================*/

.combobox_age
{    
min-width:65px !important;
font-size:12px;
outline:none;
transition: all 0.25s ease-in-out;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border:solid 1px #6678b1;
color:#333 !important;
background-color:#fff;
padding: 2px;	
}

.combobox_age:hover
{
border: solid 1px #6678b1;
box-shadow: 0 0 15px #6678b1;
}

/*==================COMBOBOX BOX LANGUAGE ==================*/

.combobox_language
{    
min-width:105px !important;
font-size:12px;
outline:none;
transition: all 0.25s ease-in-out;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border:solid 1px #6678b1;
color:#333 !important;
background-color:#fff;
padding: 2px;
}

.combobox_language:hover
{
border: solid 1px #6678b1;
box-shadow: 0 0 15px #6678b1;
}

/*==================HELP BOX==================*/

.box-help:after
{
background: #FAFAFA;
}
 
.box-help, .content-help
{
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px; 
}
 
.box-help
{
background: white;
position:relative;
width:auto;
padding:5px;
margin: 0 auto;
}

.content-help{
background:#e0e4f5;
width:200px;
height:100% auto;
overflow-x:hiden;
overflow-y:hiden;
}
 
.shadow-help:before, .box-help:after
{
content: '';    
position: absolute;
}

.shadow-help:before
{
background: #BEBEC0;
height: 10px;
width: 96%;
bottom: -10px;
left: 2%;
}
 
.shadow-help:after{
-moz-border-radius: 150% / 20px;
-webkit-border-radius: 150% / 20px;
border-radius: 150% / 20px;
width: 100%;
height: 20px;
bottom: -22px;
left: 0;
z-index: 1;
}

/*==================TABLE==================*/

.table
{
font-family: "Arial", "Helvetica", Sans-Serif;
font-size: 13px;
background: #FAFAFA;
overflow:auto;
width: 705px;
border-collapse: collapse;
padding: 10px;
}

.table td
{
border-left:1px solid #ccc;
border-right:1px solid #ccc;
border-bottom: 1px solid #ccc;
border-top: 1px solid #ccc;
padding: 5px;	
}

.table .gridviewRow
{
width:50px;
padding: 5px;
}

.table .gridviewRowAlt
{
background: #eee;
padding: 4px;
text-align: left;
}

.table .gridviewHeader_fixed
{
min-width:30px !important;
max-width:30px !important;
text-align: center;
background-image:url(../img/filter.jpg);
font-size: 12px;
font-weight: bold;
color: black;
padding: 5px;	
}

.table .gridviewHeader_fixed th
{
padding: 5px;
min-width:30px !important;
max-width:30px !important;
text-align: center;
font-weight: bold;
border-top:1px solid #6678b1;
border-right:1px solid #6678b1;
border-left:1px solid #6678b1;
border-bottom: 1px solid #6678b1;	
}

.table .gridviewHeader
{
text-align: center;
background-image:url(../img/filter.jpg);
font-size: 12px;
font-weight: bold;
color: black;
padding: 5px;
}

.table .gridviewHeader th
{
padding: 5px;
text-align: center;
font-weight: bold;
border-top:1px solid #6678b1;
border-right:1px solid #6678b1;
border-left:1px solid #6678b1;
border-bottom: 1px solid #6678b1;
}

.tabela .pagerStyle td
{
    padding: 4px 6px;
	border:none;
	font-weight: bold;
	color: #1930a6;
	line-height: 8px;
	font-size: 15px;
    
}
.tabela .pagerStyle a
{
	color: #666;
	text-decoration: none;
    font-size: 12px;
}


.tabela .pagerStyle a:hover
{
	color: #000;
	text-decoration: none;
  } 


.table tbody tr:hover td
{
color: #009;
}

/*==================LABEL==================*/

.labelSuccess {
    color: green;
    font-family: "Arial", "Helvetica", Sans-Serif;
    font-size:15px;
   padding-left:10px;
    
}

.labelWarning {
    color: orange;
    font-family: "Arial", "Helvetica", Sans-Serif;
    font-size:15px;
     padding-left:10px;
}

.labelError {
    color: red;
    font-family: "Arial", "Helvetica", Sans-Serif;
    font-size:15px;
    padding-left:10px;
}

/*==================AUTO COMPLETE==================*/



/* Outer */

/*.AutoExtender
{
    font-family: "Arial", "Helvetica", Sans-Serif; 
    font-size: 12px;
    font-weight: normal; 
    border:solid 1px #006699;
    line-height:24px; 
    background-color:White; 
    color:black;
	z-index:1500 !important;
    
}

.AutoExtenderList
{
    border-bottom: dashed 1px #006699; 
    cursor:pointer;
    color:black;
    z-index:1100 !important;

}

.AutoExtenderHighlight
{
    color:black; 
    background-color:#e0e4f5;
    cursor:pointer; 
	 z-index:10000 !important;

}

.grayText
{
	font-color: black;
	font-style:italic;
}


.AutoComplete_ListItemHiliteText{
    background-color:#e0e4f5;
	 z-index:10000 !important;


}*/

/*==================PANEL==================*/

	.panel {
			border: 4px solid #fff;
			padding: 5px 5px;
			overflow: hidden;
			

			  /* FF3.6 */
			  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f2ec', EndColorStr='#e2dbce')";
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
  
			           
}
    /*==================POPUP==================*/
    .wrap  {
    background: #FFFFFF;
    background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    border: 1px solid #777777;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    margin: 20px auto;
    padding: 12px;
    position: relative;
   
}

.wrap :before, .wrap :after {
    background: none;
    bottom: 12px;
    -moz-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
    content: "";
    height: 10px;
    left: 12px;
    position: absolute;
    
    z-index: -1;
    -moz-transform: skew(-4deg) rotate(-4deg);
    -webkit-transform: skew(-4deg) rotate(-4deg);
    transform: skew(-4deg) rotate(-4deg);
}

.wrap :after {
    -moz-transform: skew(4deg) rotate(4deg);
    -webkit-transform: skew(4deg) rotate(4deg);
    transform: skew(4deg) rotate(4deg);
    left: auto;
    right: 12px;
}

.shadow-bottom:before, .shadow-bottom:after {
    top: auto;
    bottom: 12px;
    -moz-box-shadow: 0 10px 14px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 14px 12px rgba(0, 0, 0, 0.5);
    box-shadow: 0 14px 12px rgba(0, 0, 0, 0.5);
}


