.Container
{
	margin:auto;
	min-height:400px;
	background:#F7F7F7;
	max-width:700px;
	min-width:700px;
	border:solid 1px #6678b1;
	padding:0 20px 20px 20px;
}

.ToolBar
{
	border:solid 1px #d4d4d4;
	padding:10px;
	margin-bottom:20px;
}

.GridContainer
{
	background:#ECF5FB;
	border:solid 1px #d4d4d4;
}


.ModalPopupBG
{
	background-color: #666699;
	filter: alpha(opacity=50);
	opacity: 0.7;
}

.popup_Container {
	background-image: url(../Images/bg8.png);
	border:1px solid #ccc;
	padding: 0px 0px 0px 0px;
}

.popupConfirmation
{
	width: 750px;
	height: 450px;
}

.popup_Titlebar {
	background: url(../Images/titlebar_bg.jpg);
	height: 29px;
}

.popup_Body
{
	padding:15px 15px 15px 15px;
	font-family:Arial;
	font-weight:bold;
	font-size:12px;
	color:#000000;
	line-height:15pt;
	clear:both;
	padding:15px;

}

.TitlebarLeft 
{
	float:left;
	padding-left:5px;
	padding-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:15px;
	color:#FFFFFF;
}
.TitlebarRight 
{
	background:url(../Images/cross_icon_normal.png);
	background-position:right;
	background-repeat:no-repeat;
	height:15px;
	width:16px;
	float:right;
	cursor:pointer;
	margin-right:5px;
	margin-top:5px;
}
